/* .user-dashboard .menu стилі */

.user-dashboard .menu {
  float: left;
  width: 20%;
  text-align: left;
  padding: 15px;
  background-color: #f2f2f2; /* фон меню */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* тінь */
  height: 100vh; /* на весь екран по висоті */
  overflow-y: auto; /* дозволяє прокручувати, якщо контент занадто великий */
}

.user-dashboard .menu a {
  text-decoration: none;
  color: #333; /* колір посилань */
  display: block;
  padding: 10px 0;
  transition: color 0.3s ease; /* плавна зміна колору при наведенні */
}

.user-dashboard .menu a:hover {
  text-decoration: underline;
  color: black; /* колір посилань при наведенні */
}

.user-dashboard .menu button {
  background-color: white; /* колір фону кнопки */
  color: #333; /* колір тексту кнопки */
  padding: 10px; /* відступи кнопки */
  border: none; /* обнулення границі кнопки */
  cursor: pointer; /* зміна вигляду курсору при наведенні */
  width: 100%; /* розтягуємо кнопку на всю ширину батьківського контейнера */
  transition: background-color 0.3s ease, color 0.3s ease; /* плавна зміна фону і тексту при наведенні */
}

.user-dashboard .menu button:hover, .user-dashboard .menu button.active {
  background-color: #ff6060; /* новий колір фону кнопки при наведенні */
  color: white; /* новий колір тексту кнопки при наведенні */
}

/* .user-dashboard .main стилі */

.user-dashboard .main {
  float: left;
  width: 80%;
  padding: 15px;
  background-color: #fff; /* фон основного контенту */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* тінь */
  height: 100vh; /* на весь екран по висоті */
  overflow-y: auto; /* дозволяє прокручувати, якщо контент занадто великий */
}

/* .user-dashboard стилі для коректного очищення плавання */

.user-dashboard:after {
  content: '';
  display: table;
  clear: both;
}
