.user-dashboard .menu {
  float: left;
  width: 20%;
  text-align: left;
  padding: 15px;
  background-color: #f2f2f2; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  height: 100vh; 
  overflow-y: auto; 
}

.user-dashboard .menu a {
  text-decoration: none;
  color: #333; 
  display: block;
  padding: 10px 0;
  transition: color 0.3s ease; 
}

.user-dashboard .menu a:hover {
  text-decoration: underline;
  color: black; 
}

.user-dashboard .menu button {
  background-color: white; 
  color: #333; 
  padding: 10px; 
  border: none; 
  cursor: pointer;
  width: 100%; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.user-dashboard .menu button:hover, .user-dashboard .menu button.active {
  background-color: #ff6060; 
  color: white; 
}

.user-dashboard .main {
  float: left;
  width: 80%;
  padding: 15px;
  background-color: #fff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  height: 100vh; 
  overflow-y: auto; 
}

.user-dashboard:after {
  content: '';
  display: table;
  clear: both;
}
.dashboard-container {
  padding: 20px;
  margin-bottom: 20px; 
}

.order-info-blocks {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.order-info-block {
  width: 200px;
  height: 200px;
  text-align: center;
  border: 3px solid #ff6060;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-label {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.info-value {
  margin-top: 5px;
  font-size: larger; 
  text-align: center;
}
.chart-container {
  margin-top: 20px;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

